Repository ghojeong/todo-list, pull requests merged in 2021-04, with the labels that each got.

#2 브랜치 관련된 정책을 README 에 작성
  README.md
Labels: documentation

#3 Feature/react setting
  frontend/todo-frontend/.gitignore
  frontend/todo-frontend/README.md
  frontend/todo-frontend/package.json
  frontend/todo-frontend/public/index.html
  frontend/todo-frontend/public/robots.txt
  frontend/todo-frontend/src/App.css
  frontend/todo-frontend/src/App.js
  frontend/todo-frontend/src/App.test.js
  frontend/todo-frontend/src/index.css
  frontend/todo-frontend/src/index.js
  frontend/todo-frontend/src/setupTests.js
  frontend/todo-frontend/yarn.lock
Labels: frontend

#6 Feat. 컴포넌트 파일 구조 1차 완성
  frontend/todo-frontend/src/App.js
  frontend/todo-frontend/src/component/TodoTemplate.jsx
  frontend/todo-frontend/src/component/todoHeader/TodoHeader.jsx
  frontend/todo-frontend/src/component/todoMain/TodoMain.jsx
  frontend/todo-frontend/src/component/todoMain/todoList/TodoItem.jsx
  frontend/todo-frontend/src/component/todoMain/todoList/TodoList.jsx
Labels: frontend

#8 [Feature/molla] 오늘 한 내용 정리
  frontend/todo-frontend/src/component/TodoTemplate.jsx
  frontend/todo-frontend/src/component/todoMain/TodoMain.jsx
  frontend/todo-frontend/src/component/todoMain/todoList/TodoItem.jsx
  frontend/todo-frontend/src/component/todoMain/todoList/TodoList.jsx
  frontend/todo-frontend/src/component/todoMain/todoList/TodoListForm.jsx
  frontend/todo-frontend/src/component/todoMain/todoList/todoList.module.css
  frontend/todo-frontend/src/component/todoMain/todoMain.module.css
Labels: frontend

#12 리액트 배포를 위한 스크립트 작성
  README.md
  frontend/todo-frontend/deploy.sh
Labels: backend

#23 Feature/styled
  frontend/todo-frontend/package.json
  frontend/todo-frontend/public/Vector (2).svg
  frontend/todo-frontend/public/Vector.svg
  frontend/todo-frontend/public/plus.svg
  frontend/todo-frontend/src/component/TodoView.jsx
  frontend/todo-frontend/src/component/atom/Button.jsx
  frontend/todo-frontend/src/component/atom/DeleteBtn.jsx
  frontend/todo-frontend/src/component/atom/Input.jsx
  frontend/todo-frontend/src/component/atom/PopUp.jsx
  frontend/todo-frontend/src/component/atom/popUp.module.css
  frontend/todo-frontend/src/component/todoHeader/TodoHeader.jsx
  frontend/todo-frontend/src/component/todoHeader/TodoLog.jsx
  frontend/todo-frontend/src/component/todoHeader/TodoNavBar.jsx
  frontend/todo-frontend/src/component/todoMain/TodoMain.jsx
  frontend/todo-frontend/src/component/todoMain/todoList/TodoItem.jsx
  frontend/todo-frontend/src/component/todoMain/todoList/TodoList.jsx
  frontend/todo-frontend/src/component/todoMain/todoList/TodoListForm.jsx
  frontend/todo-frontend/src/component/todoMain/todoList/todoList.module.css
  frontend/todo-frontend/src/component/todoMain/todoMain.module.css
  frontend/todo-frontend/src/index.css
  frontend/todo-frontend/yarn.lock
Labels: frontend

#24 [style] navbar style적용
  frontend/todo-frontend/src/component/todoHeader/TodoLog.jsx
  frontend/todo-frontend/src/component/todoHeader/TodoNavBar.jsx
Labels: frontend

#25 Custom Hook 구현!!
  frontend/todo-frontend/src/App.js
  frontend/todo-frontend/src/component/TodoView.jsx
  frontend/todo-frontend/src/component/atom/Input.jsx
  frontend/todo-frontend/src/component/todoHeader/TodoLog.jsx
  frontend/todo-frontend/src/component/todoHeader/TodoNavBar.jsx
  frontend/todo-frontend/src/component/todoMain/TodoMain.jsx
  frontend/todo-frontend/src/component/todoMain/todoList/TodoItem.jsx
  frontend/todo-frontend/src/component/todoMain/todoList/TodoList.jsx
  frontend/todo-frontend/src/component/todoMain/todoList/TodoListForm.jsx
  frontend/todo-frontend/src/hook/logHook.js
  frontend/todo-frontend/src/service/initTodoService.js
  frontend/todo-frontend/src/service/logService.js
  frontend/todo-frontend/src/service/todoListService.js
Labels: backend, frontend

#26 [FE]Button 과 비동기 로딩화면 설정
  frontend/todo-frontend/src/component/atom/Input.jsx
  frontend/todo-frontend/src/component/todoMain/TodoMain.jsx
  frontend/todo-frontend/src/component/todoMain/todoList/TodoItem.jsx
  frontend/todo-frontend/src/component/todoMain/todoList/TodoList.jsx
  frontend/todo-frontend/src/component/todoMain/todoList/TodoListForm.jsx
  frontend/todo-frontend/src/hook/logHook.js
  frontend/todo-frontend/src/hook/todoHook.js
  frontend/todo-frontend/src/service/todoListService.js
  frontend/todo-frontend/src/util/util.js
Labels: frontend

#27 [FE] drag and drop 기능 구현
  frontend/todo-frontend/src/component/todoHeader/TodoLog.jsx
  frontend/todo-frontend/src/component/todoMain/TodoMain.jsx
  frontend/todo-frontend/src/component/todoMain/todoList/TodoItem.jsx
  frontend/todo-frontend/src/component/todoMain/todoList/TodoList.jsx
  frontend/todo-frontend/src/hook/todoHook.js
  frontend/todo-frontend/src/service/todoListService.js
Labels: frontend

#28 [Refactor] drag and drop 리팩토링
  frontend/todo-frontend/src/component/todoMain/todoList/TodoItem.jsx
  frontend/todo-frontend/src/component/todoMain/todoList/TodoList.jsx
  frontend/todo-frontend/src/hook/todoHook.js
  frontend/todo-frontend/src/service/todoListService.js
Labels: frontend

#30 drag and drop 리팩토링 오류 수정 및 스타일
  frontend/todo-frontend/src/component/TodoView.jsx
  frontend/todo-frontend/src/component/atom/DeleteBtn.jsx
  frontend/todo-frontend/src/component/atom/PopUp.jsx
  frontend/todo-frontend/src/component/todoMain/TodoMain.jsx
  frontend/todo-frontend/src/component/todoMain/todoList/TodoItem.jsx
  frontend/todo-frontend/src/component/todoMain/todoList/TodoList.jsx
  frontend/todo-frontend/src/hook/todoHook.js
  frontend/todo-frontend/src/service/initTodoService.js
  frontend/todo-frontend/src/service/todoListService.js
Labels: frontend

#32 삭제 버튼 over시 카드 디자인
  frontend/todo-frontend/src/component/atom/DeleteBtn.jsx
  frontend/todo-frontend/src/component/todoHeader/TodoHeader.jsx
  frontend/todo-frontend/src/component/todoHeader/TodoNavBar.jsx
  frontend/todo-frontend/src/component/todoMain/TodoMain.jsx
  frontend/todo-frontend/src/component/todoMain/todoList/TodoItem.jsx
  frontend/todo-frontend/src/component/todoMain/todoList/TodoList.jsx
  frontend/todo-frontend/src/hook/dataHook.js
Labels: frontend

#31 [BE] 백엔드 서버 구현
  README.md
  backend/front-deploy.sh
  backend/server/.gitignore
  backend/server/build.gradle
  backend/server/gradle/wrapper/gradle-wrapper.jar
  backend/server/gradle/wrapper/gradle-wrapper.properties
  backend/server/gradlew
  backend/server/gradlew.bat
  backend/server/settings.gradle
  backend/server/src/main/java/pyro/todolist/TodolistApplication.java
  backend/server/src/main/java/pyro/todolist/web/IndexController.java
  backend/server/src/main/java/pyro/todolist/web/WebConfig.java
  backend/server/src/main/java/pyro/todolist/web/log/Log.java
  backend/server/src/main/java/pyro/todolist/web/log/LogController.java
  backend/server/src/main/java/pyro/todolist/web/log/LogRepository.java
  backend/server/src/main/java/pyro/todolist/web/todo/Column.java
  backend/server/src/main/java/pyro/todolist/web/todo/MoveDto.java
  backend/server/src/main/java/pyro/todolist/web/todo/TodoCard.java
  backend/server/src/main/java/pyro/todolist/web/todo/TodoController.java
  backend/server/src/main/java/pyro/todolist/web/todo/TodoRepository.java
  backend/server/src/main/resources/application.properties
  backend/server/src/test/java/pyro/todolist/TodolistApplicationTests.java
Labels: backend
